@charset "utf-8";
ol,ul,li{list-style:none}
.filter{}
.filter .content{}
.filter .content li{ float:left; display:inline-block; margin-right:10px; padding:2px 10px;}
.filter .content li.on{ background:#EAEAEA url(../../images/ico/ico01_8x8.png) no-repeat 5px 50%; padding-left:22px;}
.filter{}

#branch{}
#branch h5{ height:38px; line-height:38px;}
#branch .content li{}

.lomo_ad_01{ padding:10px;}
.lomo_ad_01 h5{ line-height:24px;}
.lomo_ad_01 .photo{ padding:10px 0;}
.lomo_ad_01 .photo_set{ padding:10px 1px;}
.lomo_ad_01 .exps{ padding:10px 0;}

.lomo_ad_02{ padding:10px;}
.lomo_ad_02 .photo_set{ padding:10px 6px; float:left;}
.lomo_ad_02 h4{ font-size:14px}

.tongji-box-1{padding-right:10px;}
.tongji-box-1 span{ display:block;text-align:left; margin-right:10px;}
.tongji-box-1 .tongji_ico{float:left; width:52px;height:90px; display:block; padding:5px 15px 0 5px;}
.tongji-box-1 .tongji_ico i{ font-size:32px; color:#ADC7FD;}
.tongji-box-1 .tongji_day{font-size:28px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;color:#598DFC;}
.tongji-box-1 .tongji_day_txt{color:#598DFC;}
.tongji-box-1 .tongji_Unread{color:#598DFC;}

.tongji-box-2{padding-right:10px;}
.tongji-box-2 span{ display:block;text-align:right; margin-left:52px; line-height:30px;margin-right:10px;}
.tongji-box-2 span b{ float:left;}
.tongji-box-2 .tongji_ico{float:left;width:52px;height:90px; display:block; padding:5px 15px 0 5px;}
.tongji-box-2 .tongji_ico i{font-size:32px; color:#ADC7FD;}
.tongji-box-2 .tongji_use_add{color:#598DFC; border-bottom:#ADC7FD dotted 2px; margin-bottom:10px;}
.tongji-box-2 .tongji_use_cancel{color:#598DFC;border-bottom:#ADC7FD solid 4px; }

.tongji-box-3{}
.tongji-box-3 span{ display:block;text-align:right;margin-right:10px;}
.tongji-box-3 .tongji_ico{float:left; width:52px;height:90px; display:block; padding:5px 15px 0 5px;}
.tongji-box-3 .tongji_ico i{ font-size:32px; color:#ADC7FD;}
.tongji-box-3 .tongji_total{font-size:48px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;color:#598DFC;}
.tongji-box-3 .tongji_total_txt{color:#598DFC;}

.widget-body{position:relative; z-index:99996}
.widget-body a{font-weight:normal;}
.weixin_help{padding:10px; box-shadow:0px 0px 3px #333; position:absolute; background:#fff; top:0; left:185px; display:none;border-radius: 4px; z-index:99997}
.weixin_help .em1{margin-left: -6px;font-size: 20px;position: absolute;top:4px;left: -4px;color: #ccc;z-index: 99998; font-style:normal;}
.weixin_help .em2{margin-left: -4px;font-size: 20px;position: absolute;top:4px;left: -4px;color: #FFF;z-index: 99999; font-style:normal;}
