<include file="Public:head"/>
<body>
    
     <!--内容显示 Begin-->
    <div class="col_main">
        <input name="ctl00$ContentPlaceHolder1$txt" type="hidden" id="ctl00_ContentPlaceHolder1_txt" />
        <div class="main_hd">
            <div class="title_tab" id="topTab">
                <ul class="tab_navs mt title_tab">
                    <li class="tab_nav js_top  selected" data-id="mphelper"><a href="javascript:void(0);">
                      <eq name="isAdd" value="1">添加 <else/>编辑 </eq>管理员</a></li>
                </ul>
            </div>
             
        </div>
        
        
        
       <form action="" method="post">
        <div style="text-align: left; padding: 20px; text-align: left;">
           
            
             
             
            <!--打印帮助关键字配置-->
          
            <hr style="width: 50%; size: 1px; border: none;" />
            <table style="vertical-align: top;">
                <tr>
                    <td style="width: 98px;">
                        登录名
                    </td>
                    <td>
                         
                          <span class="frm_input_box">
                            <input name="user[USERNAME]" type="text"   class="frm_input" style="width: 200px;" value="{$user.username}" /></span>
   
                    </td>
                </tr>
               
                 <tr>
                    <td >
                        密码
                    </td>
                    <td>
                        <span class="frm_input_box">
                            <input name="userpassword" type="password"  class="frm_input" style="width: 200px;" value="" /></span>  为空则表示不修改
   
                    </td>
                </tr>
                <tr>
                    <td>
                         启用状态
                    </td>
                    <td>
                        <table id="ctl00_ContentPlaceHolder1_rdiIsEnable_help" border="0">
	<tr>
		<td><input id="ctl00_ContentPlaceHolder1_rdiIsEnable_help_0" type="radio" name="user[USERIS]" value="1" <eq name="user['useris']" value="1">checked="checked" </eq>/><label for="ctl00_ContentPlaceHolder1_rdiIsEnable_help_0">启用</label></td>
	</tr><tr>
		<td><input id="ctl00_ContentPlaceHolder1_rdiIsEnable_help_1" type="radio"   name="user[USERIS]" value="0" <eq name="user['useris']" value="0">checked="checked" </eq>/><label for="ctl00_ContentPlaceHolder1_rdiIsEnable_help_1">禁用</label></td>
	</tr>
</table>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
          <div class="tool_bar border with_form">
                <span id="Span1" class="btn btn_primary btn_input">
                         <input type="hidden"  name="id" value="{$user.userid}" />
                    <input type="submit" name=" " value="保存"   /></span>
            </div>
        </div>
        </form>
        
    </div>
    <!--内容显示 End-->


 
</body>
</html>
