<include file="Public:head"/>
<body>
    
   <div class="col_main">
        <div class="main_hd">
            <div class="title_tab" id="topTab">
                <ul class="tab_navs mt title_tab">
                    <li class="tab_nav js_top  selected" data-id="mphelper"><a href="javascript:void(0);">
                      <eq name="flag" value="useranli"> 用户案例列表<else/> 场景模板列表</eq> </a></li>
                </ul>
            </div>
            <p class="extra_info">
               <a class="button2" href=' ' style='margin-bottom: 2px;display:none'>返回</a>
            </p>
        </div>
        <div style="padding: 10px;">
            <div>
                <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
 
 
 
 

      <!--内容显示 Begin-->
     <div class="col_main">
         
        <div style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
         <form action="" method="post">
           用户案例名称:
            <input name="scenename_varchar" type="text"  class="search" style="width: 100px;" value="{$filename_varchar}"/>&nbsp;&nbsp;&nbsp;&nbsp;状态:
          <!--  <select name="delete_int">
	<option   value="">全部</option>
	<option value="0" <eq name="delete_int" value="0"> selected="selected" </eq>>启用</option>
	<option value="1" <eq name="delete_int" value="1"> selected="selected" </eq>>停用</option>
	 
</select>-->
&nbsp;&nbsp;&nbsp;&nbsp; 所属会员:
         <select name="user_id">
         <option value="" >全部</option>
	      <foreach name='userlist' item='item' >
	    <option value="{$item.userid_int}" <eq name="item[userid_int]" value="$user_id"> selected="selected" </eq>>{$item.email_varchar}</option>
          </foreach>
 	  </select>
        &nbsp;&nbsp;&nbsp;&nbsp; 排序:
            <select name="order">
	<option   value="sceneid_bigint" <eq name="order" value="sceneid_bigint"> selected="selected" </eq>>添加时间</option>
	<option value="rank" <eq name="order" value="rank"> selected="selected" </eq>>权重值</option>
 	  </select>

            <span id="Js_bind" class="btn btn_primary btn_input">
                <input type="submit" name="ctl00$ContentPlaceHolder1$btnSearch" value="查询" id="ctl00_ContentPlaceHolder1_btnSearch" />
            </span>
             <font color="red"> 状态说明：权重越大越前面</font>
             </form>
        </div>
        <div style="padding: 10px;">
            <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
	    <eq name="flag" value="useranli">  
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gv">
                        <tr>
                            <th scope="col" width="3%">
                                ID
                            </th>
                              <th align="center" scope="col" abbr="lbtnOperate" width="5%">操作</th>
                            <th scope="col"  ><span style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">案例名称</span></th>
                            <th scope="col" > 所属会员</th>
                            <th scope="col" width="15%">
                              缩略图
                          </th>
                            <th scope="col" width="15%">
                              广告有无
                          </th>
                            <th scope="col" width="7%">
                               审核状态</th>
                            <th scope="col" width="8%">权重</th>
                            <th scope="col" width="15%">
                              是否在案例中显示
                          </th>
                            <th scope="col" width="15%">
                                添加时间
                            </th>
                        </tr>
                        
                                
                              <foreach name='select' item='item' >
                                <tr onMouseOver="this.className='RecordRowOver'" onMouseOut="this.className=''">
                                    <td align="center">
                                       {$item.sceneid_bigint}
                                    </td>
                                    <td align="center" style="width:60px;"> <a href="?c=scene&a=e&id={$item.sceneid_bigint}"><img src="/assets/admin/images/edit.png" /> </a>
                                    <a href="javascript:;" onClick="javascript:if(confirm('你确信要删除[{$item.scenename_varchar}]吗？')) window.location='?c=scene&a=del&id={$item.sceneid_bigint}<eq name="flag" value="useranli">&flag=useranli</eq>'"><img src="/assets/admin/images/delet.png" /> </a>
                                      <a href="?c=scene&a=copytos&id={$item.sceneid_bigint}"> 复制为系统模板</a>
                                      
                                      
                                    </td>
                                    <td>
                                        <a href="<eq name="IS_OPEN_STATIC" value="1">/v-{$item.scenecode_varchar}?preview=preview<else/>/v-{$item.scenecode_varchar}</eq>" target="_blank" title="点击预览"> {$item.scenename_varchar}</a>
                                    </td>
                                    <td> <a href="?c=scene&flag=useranli&user_id={$item.userid_int}">  {$item.userid_int|getUserName=###}</a> </td>
                                    <td>
                                        <img src="/Uploads/{$item.thumbnail_varchar}" class="thbnail">
                                    </td>
                                    <td>
                                          <eq name="item['hideeqad']" value="1"> 无广告<a href="/adminc.php?c=scene&a=hideeqad&id={$item.sceneid_bigint}">【显示广告】</a><else/> 有广告 <a href="/adminc.php?c=scene&a=hideeqad&id={$item.sceneid_bigint}&no=1">【去除广告】</a></eq>
                                    </td>
                                    <td>
                                      <eq name="item['shenhe']" value="1"> 已审核 <br><a href="/adminc.php?c=scene&a=shenhe&id={$item.sceneid_bigint}&no=1">【取消通过】</a><else/> 未审核<br> <a href="/adminc.php?c=scene&a=shenhe&id={$item.sceneid_bigint}">【点击通过】</a></eq>
                                    </td>
                                    <td>  {$item.rank}</td>
                                    <td>
                                         <eq name="item['showstatus_int']" value="1"> 显示<a href="/adminc.php?c=scene&a=is_public&id={$item.sceneid_bigint}&no=1">【取消显示】</a><else/> 不显示 <a href="/adminc.php?c=scene&a=is_public&id={$item.sceneid_bigint}">【点击显示】</a></eq>
                                    </td>
                                    <td>
                                      {$item.createtime_time}
                                    </td>
                                </tr>
                                  </foreach>
            
                                <tr>
                                <td colspan="12">
                                 
                  
                     
                                </td>
                                </tr>
                            
                    </table>
                    <else/>  
                     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gv">
                        <tr>
                            <th scope="col" width="3%">
                                ID
                            </th>
                              <th align="center" scope="col" abbr="lbtnOperate">操作</th>
                            <th scope="col" width="10%"><span style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">模板名称</span></th>
                            <th scope="col" width="15%">
                              缩略图
                          </th>
                            <th scope="col" width="15%">
                              所属分类
                          </th>
                            <th scope="col" width="7%">
                                状态</th>
                            <th scope="col" width="8%">权重</th>
                            <th scope="col" width="15%">
                              使用次数
                          </th>
                            <th scope="col" width="15%">
                                添加时间
                            </th>
                        </tr>
                        
                                
                              <foreach name='select' item='item' >
                                <tr onMouseOver="this.className='RecordRowOver'" onMouseOut="this.className=''">
                                    <td align="center">
                                       {$item.sceneid_bigint}
                                    </td>
                                    <td align="center" style="width:60px;"> <a href="?c=scene&a=e&id={$item.sceneid_bigint}"><img src="/assets/admin/images/edit.png" /> </a>
                                    <a href="javascript:;" onClick="javascript:if(confirm('你确信要删除[{$item.scenename_varchar}]吗？')) window.location='?c=scene&a=del&id={$item.sceneid_bigint}<eq name="flag" value="useranli">&flag=useranli</eq>'"><img src="/assets/admin/images/delet.png" /> </a>
                                      
                                    </td>
                                    <td>
                                        {$item.scenename_varchar}
                                    </td>
                                    <td>
                                        <img src="/Uploads/{$item.thumbnail_varchar}" class="thbnail">
                                    </td>
                                    <td>
                                       {$item.scenetype_int|getSceneType=###}
                                    </td>
                                    <td>
                                      <eq name="item['delete_int']" value="0"> 启用<else/> 禁用</eq>
                                    </td>
                                    <td>  {$item.rank}</td>
                                    <td>
                                         {$item.usecount_int}次
                                    </td>
                                    <td>
                                      {$item.createtime_time}
                                    </td>
                                </tr>
                                  </foreach>
            
                                <tr>
                                <td colspan="11">
                                 
                  
                     
                                </td>
                                </tr>
                            
                    </table>
                    
                    
                    </eq>
                    
                       <div class="pages">
                        {$page}
                </div>
                
</div>
        </div>
    </div>
    <!--内容显示 End-->




    
           
        

<div id="divIsSetHeight" style="display: none;">
    1
</div>



<script type="text/javascript">
    // <![CDATA[
    //    function ShowVisibleColumnWindow() {
    //        pcVisibleColumn.Show();
    //    }
    // ]]> 
</script>

<script type='text/javascript'>    SetHeight();</script>


                    
</div>
            </div>
        </div>
    </div>

 
</body>
</html>
