#tlyPageGuideWrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-size: 12px;
  font-family: Helvetica, Arial, sans serif;
}
#tlyPageGuideWrapper .tlypageguide_toggle {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  clear: both;
  color: #000000;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 11px;
  height: 50px;
  line-height: 25px;
  padding: 22px 6px 6px;
  position: fixed;
  right: -190px;
  text-align: left;
  text-decoration: none;
  top: 84px;
  width: 184px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#tlyPageGuideWrapper .tlypageguide_toggle:before {
  background: transparent url("../img/tlyguide/tlyguide_icon.png") 0 0 no-repeat;
  display: block;
  height: 16px;
  overflow: hidden;
  text-indent: -999px;
  width: 16px;
  content: " ";
  left: 25px;
  position: absolute;
  top: 8px;
}
#tlyPageGuideWrapper .tlypageguide_toggle div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #fff;
  display: block;
  height: 33px;
  line-height: 16px;
  overflow: hidden;
  padding: 2px 0 0 5px;
  position: absolute;
  right: -4px;
  top: 6px;
  width: 124px;
}
#tlyPageGuideWrapper .tlypageguide_toggle div span {
  display: block;
  margin: 0 0 0 -118px;
  width: 115px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#tlyPageGuideWrapper .tlypageguide_toggle a {
  bottom: -26px;
  color: #000;
  opacity: 0;
  position: absolute;
  right: 10px;
  text-decoration: none;
}
#tlyPageGuideWrapper .tlypageguide_toggle:hover {
  background: rgba(0, 0, 0, 0.2);
  right: 0 !important;
}
#tlyPageGuideWrapper .tlypageguide_toggle:hover div span {
  margin: 0;
}
#tlyPageGuideWrapper #tlyPageGuide {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#tlyPageGuideWrapper #tlyPageGuide li {
  background: rgba(247, 0, 119, 0.3);
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: min-height, max-height 0.1s ease-in-out;
  -moz-transition: min-height, max-height 0.1s ease-in-out;
  -o-transition: min-height, max-height 0.1s ease-in-out;
  -ms-transition: min-height, max-height 0.1s ease-in-out;
  transition: min-height, max-height 0.1s ease-in-out;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
  display: block;
  height: 46px;
  line-height: 50px;
  min-height: 0px;
  max-height: 0px;
  position: absolute;
  text-align: center;
  width: 50px;
  z-index: 5000;
}
#tlyPageGuideWrapper #tlyPageGuide li.expanded {
  filter: alpha(opacity=0);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  height: 46px;
  min-height: 15px;
  max-height: 46px;
}
#tlyPageGuideWrapper #tlyPageGuide li.expanded:after {
  display: block;
}
#tlyPageGuideWrapper #tlyPageGuide li ins {
  background: none;
  color: #fff;
  display: block;
  font-size: 32px;
  overflow: hidden;
  text-decoration: none;
  width: 50px;
}
#tlyPageGuideWrapper #tlyPageGuide li div {
  display: none;
}
#tlyPageGuideWrapper #tlyPageGuide li:after {
  content: " ";
  display: none;
  height: 0;
  left: 0;
  position: absolute;
  top: -15px;
  width: 0;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  top: auto;
  left: auto;
  right: auto;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active {
  background: rgba(247, 0, 119, 0.95);
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_bottom:after {
  border-bottom: 15px solid rgba(247, 0, 119, 0.95);
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_right:after,
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_left:after,
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_top:after {
  border-top: 15px solid rgba(247, 0, 119, 0.95);
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_bottom:after {
  border-bottom: 15px solid rgba(247, 0, 119, 0.3);
  border-right: 15px solid transparent;
  left: 0;
  top: -15px;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_bottom:hover {
  margin-top: -5px;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_right:after {
  border-top: 15px solid rgba(247, 0, 119, 0.3);
  border-left: 15px solid transparent;
  left: -15px;
  top: 0;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_right:hover {
  margin-left: -5px;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_left:after {
  border-top: 15px solid rgba(247, 0, 119, 0.3);
  border-right: 15px solid transparent;
  right: -15px;
  top: 0;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_left:hover {
  margin-left: 5px;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_top:after {
  border-top: 15px solid rgba(247, 0, 119, 0.3);
  border-right: 15px solid transparent;
  bottom: -15px;
  left: 0;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide_top:hover {
  margin-top: 5px;
}
#tlyPageGuideWrapper #tlyPageGuide li:hover {
  background: rgba(247, 0, 119, 0.95);
}
#tlyPageGuideWrapper #tlyPageGuide li:hover.tlypageguide_bottom:after {
  border-bottom: 15px solid rgba(247, 0, 119, 0.95);
}
#tlyPageGuideWrapper #tlyPageGuide li:hover.tlypageguide_right:after,
#tlyPageGuideWrapper #tlyPageGuide li:hover.tlypageguide_left:after,
#tlyPageGuideWrapper #tlyPageGuide li:hover.tlypageguide_top:after {
  border-top: 15px solid rgba(247, 0, 119, 0.95);
}
#tlyPageGuideWrapper #tlyPageGuideMessages {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.4);
  bottom: 0;
  display: none;
  font-size: 16px;
  height: 0;
  margin: 0 5% 0 5%;
  padding: 10px;
  position: fixed;
  width: 90%;
  z-index: 1000;
}
#tlyPageGuideWrapper #tlyPageGuideMessages span {
  background: rgba(247, 0, 119, 0.95);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 32px;
  height: 46px;
  left: 40px;
  line-height: 50px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 50px;
}
#tlyPageGuideWrapper #tlyPageGuideMessages div {
  color: #fff;
  line-height: 22px;
  margin: 10px 90px 0 120px;
  position: relative;
}
#tlyPageGuideWrapper #tlyPageGuideMessages div a {
  color: #fff;
}
#tlyPageGuideWrapper #tlyPageGuideMessages div a:hover {
  color: #fff;
}
#tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_close {
  background: #f70077;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  color: #fff;
  display: block;
  font-size: 11px;
  height: 24px;
  line-height: 26px;
  overflow: hidden;
  position: absolute;
  right: 50px;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 50px;
}
#tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_back,
#tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_fwd {
  background: transparent url("../img/tlyguide/tlyguide_arrow.png") 10px 4px no-repeat;
  display: block;
  height: 30px;
  overflow: hidden;
  text-indent: -999px;
  width: 30px;
  position: absolute;
  top: 34px;
  left: 10px;
}
#tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_back {
  -webkit-transform: rotate(-180deg) scale(1) skewX(0deg) skewY(0deg) translate(0px);
  -moz-transform: rotate(-180deg) scale(1) skewX(0deg) skewY(0deg) translate(0px);
  -o-transform: rotate(-180deg) scale(1) skewX(0deg) skewY(0deg) translate(0px);
  -ms-transform: rotate(-180deg) scale(1) skewX(0deg) skewY(0deg) translate(0px);
  transform: rotate(-180deg) scale(1) skewX(0deg) skewY(0deg) translate(0px);
}
#tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_fwd {
  left: 90px;
}
.tlypageguide_shadow {
  position: relative;
}
.tlypageguide_shadow:after {
  background-color: rgba(247, 0, 119, 0.1);
  -webkit-box-shadow: 0 0 1px 1px rgba(147, 0, 119, 0.25);
  -moz-box-shadow: 0 0 1px 1px rgba(147, 0, 119, 0.25);
  -o-box-shadow: 0 0 1px 1px rgba(147, 0, 119, 0.25);
  box-shadow: 0 0 1px 1px rgba(147, 0, 119, 0.25);
  content: " ";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.tlypageguide-open #tlyPageGuideWrapper .tlypageguide_toggle {
  -webkit-box-shadow: 6px 4px 5px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px 4px 5px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 6px 4px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 6px 4px 5px 0 rgba(0, 0, 0, 0.4);
  background: rgba(247, 0, 119, 0.9);
  color: #fff;
  right: 0 !important;
}
.tlypageguide-open #tlyPageGuideWrapper .tlypageguide_toggle a {
  opacity: 1.0;
}
.tlypageguide-open #tlyPageGuideWrapper .tlypageguide_toggle div span {
  margin: 0;
}
.tlypageguide-open .tlypageguide_shadow:after {
  display: block;
}
