<include file="Public:head"/>
<body>
    
   <div class="col_main">
        <div class="main_hd">
            <div class="title_tab" id="topTab">
                <ul class="tab_navs mt title_tab">
                    <li class="tab_nav js_top  selected" data-id="mphelper"><a href="javascript:void(0);">
                      {$type|getCateName=###}分类 </a></li>
                </ul>
            </div>
            <p class="extra_info">
               <a class="button2" href='?c=cate&a=add&type={$type}' style='margin-bottom: 2px; '>添加</a>
            </p>
        </div>
        <div style="padding: 10px;">
            <div>
                <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
 
 
  

      <!--内容显示 Begin-->
     <div class="col_main">
         
         
        <div style="padding: 10px;">
            <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
	   
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gv">
                        <tr>
                            <th scope="col" width="3%">
                                ID
                            </th>
                              <th align="center" scope="col" abbr="lbtnOperate">操作</th>
                            <th scope="col"  ><span style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">类别名称</span></th>
                            <th scope="col" width="12%">
                               值</th>
                            <th scope="col" width="12%">排序</th>
                            <th scope="col" width="15%">
                                添加时间
                            </th>
                        </tr>
                        
                                
                              <foreach name='select' item='item' >
                                <tr onMouseOver="this.className='RecordRowOver'" onMouseOut="this.className=''">
                                    <td align="center">
                                       {$item.id}
                                    </td>
                                    <td align="center" style="width:60px;"> <a href="?c=cate&a=e&id={$item.id}"><img src="/assets/admin/images/edit.png" /> </a>
                                    <a href="javascript:;" onClick="javascript:if(confirm('你确信要删除[{$item.scenename_varchar}]吗？')) window.location='?c=cate&a=del&id={$item.id}<eq name="flag" value="useranli">&flag=useranli</eq>'"><img src="/assets/admin/images/delet.png" /> </a>
                                      
                                      
                                    </td>
                                    <td>
                                        {$item.title} 
                                    </td>
                                    <td>
                                         {$item.value} 
                                    </td>
                                    <td>  {$item.sort}</td>
                                    <td>
                                    <if condition="$item['create_time'] gt 0">{$item.create_time|date="Y-m-d",###}</if>
                                       
                                    </td>
                                </tr>
                                  </foreach>
            
                                <tr>
                                <td colspan="8">
                                 
                  
                     
                                </td>
                                </tr>
                            
                    </table>
                    
                    
                       <div class="pages">
                        {$page}
                </div>
                
</div>
        </div>
    </div>
    <!--内容显示 End-->




    
           
        

<div id="divIsSetHeight" style="display: none;">
    1
</div>



<script type="text/javascript">
    // <![CDATA[
    //    function ShowVisibleColumnWindow() {
    //        pcVisibleColumn.Show();
    //    }
    // ]]> 
</script>

<script type='text/javascript'>    SetHeight();</script>


                    
</div>
            </div>
        </div>
    </div>

 
</body>
</html>
